Package: klipper
Description: package for dockerizer Klipper installation along with whole ecosystem (Moonraker, KlipperScreen)
Architecture: all
Version: 0.0.0
Maintainer: basz@localhost
Depends: docker.io,
         docker-compose,
         matchbox,
         xinit,
         xinput,
         x11-xserver-utils,
         xserver-xorg-input-evdev,
         xserver-xorg-input-libinput,
         xserver-xorg-legacy,
         xserver-xorg-video-fbdev,
         sqlite3,
         apache2-utils,
         bash
