[Unit]
Description=x11 kiosk mode
StartLimitIntervalSec=0
# Make sure we are started after logins are permitted. If Plymouth is
# used, we want to start when it is on its way out.
After=systemd-user-sessions.service plymouth-quit-wait.service
# On systems without virtual consoles, do not start.
ConditionPathExists=/dev/tty0
Wants=systemd-logind.service
After=systemd-logind.service

[Service]
Type=simple
Restart=always
RestartSec=2
User=klipperscreen
SupplementaryGroups=klipperscreen
ExecStart="xinit matchbox"

# Log this user with utmp, letting it show up with commands 'w' and
# 'who'. This is needed since we replace (a)getty.
UtmpIdentifier=tty7
UtmpMode=user
# A virtual terminal is needed.
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
